@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(64, 64, 65);
  position: relative;
  height: 100%;
  color: white;
}

.highlight {
  color: rgb(28, 162, 224);
}
hr {
  width: 70px;
  padding: 2.5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(28, 162, 224);
}
.container {
  margin: 40px 50px;
  background-color: rgba(27, 27, 27, 0.993);
  height: 100%;
  border-radius: 15px;
}

nav {
  width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  color: white;
}
nav .logo {
  color: inherit;
  font-size: 27px;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 3px solid rgb(28, 162, 224);
}
nav ul {
  display: flex;
  position: relative;
}
nav ul li {
  list-style: none;
  position: relative;
}

.nav-links li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border: 2.5px solid rgba(27, 27, 27, 0.993);
}

.nav-links li a:hover {
  border-bottom: 2.5px solid rgb(28, 162, 224);
}

.section {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.introduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 120px;
}
.introduction img {
  height: 250px;
  border: 10px solid rgb(28, 162, 224);
  border-radius: 50%;
}

.introduction .name {
  font-size: 40px;
}
.introduction a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px 0px;
  width: 100px;
  background-color: rgba(27, 27, 27, 0.993);
  color: white;
  border-radius: 10%;
  border: 3px solid rgb(28, 162, 224);
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 120px;
}
.profile .title {
  align-self: center;
  margin-bottom: 10px;
}
.my-profile p {
  line-height: 30px;
}
.top {
  align-self: flex-start;
  margin-top: 30px;
  padding: 7px;
  border-radius: 50%;
  background-color: #000;
}
.interests {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 120px;
}
.interests .title {
  align-self: center;
  margin-bottom: 30px;
}
.interests-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.interests-container img {
}

.interests .activity {
  text-align: center;
  margin: 0px 60px;
}
.interests .activity:hover h3 {
  color: rgb(28, 162, 224);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 80px;
}
.projects .title {
  margin-left: 48px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  margin: 0px auto;
}
.projects .card {
  margin: 5px 10px;
  width: 250px;
  height: 220px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 7px 2px rgb(3, 3, 3);
  -moz-box-shadow: 0px 3px 7px 2px rgb(3, 3, 3);
  box-shadow: 0px 3px 7px 2px rgb(3, 3, 3);
}
.projects .card:hover {
  -webkit-box-shadow: 0px 3px 7px 2px rgb(28, 162, 224);
  -moz-box-shadow: 0px 3px 7px 2px rgb(28, 162, 224);
  box-shadow: 0px 3px 7px 2px rgb(28, 162, 224);
}

.card .img {
  height: 60%;
}
.project-info {
  padding: 5px;
  height: 40%;
  text-align: center;
  line-height: 16px;
}
.card p {
  font-size: 13px;
}
.footer {
  position: sticky;
  font-size: 13px;
  color: white;
  text-align: center;
  padding: 7px;
}

.copyright a {
  text-decoration: none;
  color: rgb(28, 162, 224);
}
